@import "tailwindcss";

@theme {

  --color-primary: #4f46e5;      
  --color-primary-dark: #3730a3;  
  --color-primary-light: #c7d2fe; 
  --color-secondary: #475569;    
  --color-background: #fdfdfd;
  --font-sans: 'Inter', sans-serif;

}

@layer utilities {
  /* hide scrollbar */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
}